
/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #468ff6 0%, #053a8f 50%, #032863 100%) !important;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
}

/* Navigation menu */
nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    height: 120px;
    align-items: center;
    padding-left: 100px;
    z-index: 97;
}

nav ul {
    display: none;
}

nav ul.active {
    gap: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    list-style-type: none;
    font-size: 1.6rem;
    z-index: 98;
}

nav a {
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #FF9C33;
    transition: 0.3s;
}

.hamburgerIconBackground {
    display: flex;

    background-color: red;
}

.hamburgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2.8rem;
    left: 3rem;
    width: 42px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 99;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 100;
}

.hamburgerIcon.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(18.3px);
    background-color: white;
}

.hamburgerIcon.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburgerIcon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-18.3px);
    background-color: white;
}

/* Link Styling */
a {
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
}

/* Section styling */
section {
    min-height: 100vh;
    max-width: 87vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

section h1 {
    font-size: 3rem;
    margin-top: 6.0rem;
}

section h2 {
    font-size: 2rem;
    text-decoration: underline;
}

section h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0 6px 0;
    text-decoration: none;
}

section p {
    text-align: center;
    font-size: 1.3rem;
}

section p.professionalSummaryStyling {
        padding: 20px;
        text-align: justify;
}

section p.homePageIntroduction {
    margin: 24px;
    text-align: center;
    font-size: 1.3rem;
}

section h1.homePageIntroduction {
    font-family: Coiny, Arial, sans-serif;
    font-size: 4.6rem;
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    padding: 40px 0 40px 0;
}

/* Ocean container. */
.oceanContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: none;
}

/* Social media icons */
.socialMediaGrid {
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
}

.socialMediaGrid svg {
    width: 45px;
    height: 45px;
}

.socialMediaGrid svg:hover {
    fill: #FF9C33;
}

/* Portfolio styling */
.portfolioGrid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 50px 0 0 0;
}

.portfolioCardContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 10px;
    padding: 40px;
    min-height: 300px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.portfolioCardContainer:hover {
    color: white;
    background-color: rgba(5, 58, 143, 1);
    border: 2px solid white;
    box-shadow: 4px 4px 10px 0 rgba(255, 156, 51, 0.6);
    transition: 0.3s;
    transform: scale(1.03);
}

.portfolioCardContainer a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Portfolio Website */
.portfolioCardContainer:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column: span 2;
}
/*To-do List Application */
.portfolioCardContainer:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column: span 2;
}

/* Basic Calculator */
.portfolioCardContainer:nth-child(3) {
    grid-column-start: 3;
    grid-row-start:1;
}

/* Weather Application */
.portfolioCardContainer:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
}

/* Resume styling */
.resumeGrid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 50px 0 0 0;
}

.resumeCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 40px;
    border: 2px solid white;
    border-radius: 4px;
}

/* Professional Summary */
.resumeCardContainer:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row-start: 1;
}
/* Work Experience */
.resumeCardContainer:nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}

/* Qualifications */
.resumeCardContainer:nth-child(3) {
    grid-column: 2 / span 2;
    grid-row-start: 4;
}

/* Technical Skills */
.resumeCardContainer:nth-child(4) {
    grid-column-start: 1;
    grid-row: 2 / span 3;
}

.smallCardContainer {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Mobile friendly set up */
@media (max-width: 767px) {
    nav {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        height: 92px;
        align-items: center;
        padding-left: 70px;
        z-index: 101;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        gap: 6px;
        display: flex;
        align-items: center;
        text-align: left;
        list-style-type: none;
        font-size: 1.3rem;
        z-index: 102;
    }

    .hamburgerIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 34px;
        height: 28px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 103;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 100;
    }

    .hamburgerIcon.active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(17px);
        background-color: white;
    }

    .hamburgerIcon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerIcon.active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-17px);
        background-color: white;
    }

    #home p br{
        display: none;
    }

    section h1.homePageIntroduction {
        font-family: Coiny, Arial, sans-serif;
        font-size: 3rem;
        margin-top: 6.0rem;
        letter-spacing: 1.5px;
        line-height: 1.2;
    }

    section p {
        margin: 10px;
        text-align: center;
        font-size: 1.3rem;
    }

    section p.homePageIntroduction {
        margin: 24px;
        text-align: center;
        font-size: 1.3rem;
    }

    .largeCardContainer li {
        font-size: 1.3rem;
        padding-left: 5px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        color: white;
        padding: 0 0 40px 0;
    }

    .socialMediaGrid {
        display: flex;
    }

    /* Portfolio Styling */
    div.portfolioGrid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem 1rem;
        width: 100%;
        height: 30%;
        margin: 40px 0;
    }

    /* Resume Styling */
    div.resumeGrid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem 1rem;
        width: 100%;
        height: 30%;
        margin: 40px 0;
    }
}

/* Tablet | iPad friendly set up */
@media (min-width: 768px) and (max-width: 1200px) {

    nav {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        height: 92px;
        align-items: center;
        padding-left: 70px;
        z-index: 101;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        gap: 6px;
        display: flex;
        align-items: center;
        text-align: left;
        list-style-type: none;
        font-size: 1.3rem;
        z-index: 102;
    }

    .hamburgerIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 34px;
        height: 28px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 103;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 100;
    }

    .hamburgerIcon.active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(17px);
        background-color: white;
    }

    .hamburgerIcon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerIcon.active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-17px);
        background-color: white;
    }

    #home p br {
        display: none;
    }

    section h1.homePageIntroduction {
        font-family: Coiny, Arial, sans-serif;
        font-size: 4rem;
        margin-top: 6.0rem;
        letter-spacing: 1.5px;
        line-height: 1.3;
    }

    section p {
        margin: 10px;
        text-align: center;
        font-size: 1.3rem;
    }

    section p.homePageIntroduction {
        margin: 24px;
        text-align: center;
        font-size: 1.3rem;
    }

    .largeCardContainer li {
        font-size: 1.3rem;
        padding-left: 5px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        color: white;
        padding: 0 0 40px 0;
    }

    .socialMediaGrid {
        display: flex;
    }

    /* Portfolio styling */
    div.portfolioGrid {
        display: grid;
        gap: 1.5rem 1rem;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 30%;
        margin: 40px 0;
    }
    /* Portfolio Website */
    div.portfolioGrid .portfolioCardContainer:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row-start: 1;
    }

    /*To-do List Application */
    div.portfolioGrid .portfolioCardContainer:nth-child(2) {
        grid-column: 2 / span 2;
        grid-row-start: 2;
    }
    /* Basic Calculator */
    div.portfolioGrid .portfolioCardContainer:nth-child(3) {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    /* Weather Application */
    div.porfolioGrid .portfolioCardContainer:nth-child(4) {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    /* Resume Styling */
    div.resumeGrid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        height: 30%;
        margin: 40px 0;
    }
}

/* Wide screen styling */

@media (min-width: 1700) {

}