
/* Basic Reset. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #468ff6 0%, #053a8f 50%, #032863 100%);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    height: 120px;
    align-items: center;
    padding-left: 100px;
    z-index: 97;
}

nav ul {
    display: none;
}

nav ul.active {
    gap: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    list-style-type: none;
    font-size: 1.6rem;
    z-index: 98;
}

nav a {
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #FF9C33;
    transition: 0.3s;
}

.hamburgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2.8rem;
    left: 3rem;
    width: 42px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 99;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 100;
}

.hamburgerIcon.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(18.3px);
    background-color: white;
}

.hamburgerIcon.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburgerIcon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-18.3px);
    background-color: white;
}

a {
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
}

section {
    height: 100vh;
    width: 87vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

.socialMediaGrid {
    display: flex;
    gap: 1.5rem;
}

.socialMediaGrid svg {
    width: 60px;
    height: 60px;
}

.socialMediaGrid svg:hover {
    fill: #FF9C33;
}

/* Ocean container. */
.oceanContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: none;
}

/* Header 1 Style */
section h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

/* Header 2 Style */
section h2 {
    font-size: 1.6rem;
}

/* Section paragraph Style */
section p {
    margin: 20px;
}

div.portfolioGrid {
    display: grid;
    gap: 6.0rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 30%;
    margin: 90px 0;
}

div.cardContainer {
    margin: 10px;
    padding: 40px;
    border: 2px solid white;
}

/* Mobile friendly set up */
@media (max-width: 767px) {


    nav {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        display: flex;
        height: 92px;
        align-items: center;
        padding-left: 70px;
        z-index: 101;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        gap: 6px;
        display: flex;
        align-items: center;
        text-align: left;
        list-style-type: none;
        font-size: 1.3rem;
        z-index: 102;
    }

    .hamburgerIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 34px;
        height: 28px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 103;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 100;
    }

    .hamburgerIcon.active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(17px);
        background-color: white;
    }

    .hamburgerIcon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerIcon.active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-17px);
        background-color: white;
    }

    br {
        display: none;
    }

    .socialMediaGrid {
        display: flex;
    }

    div.portfolioGrid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 30%;
        margin: 40px 0;
    }
}