
/* Basic Reset. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #71AEFB 0%, #468ff6 25%, #053a8f 75%, #032863 100%);
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav {
    display: none;
    height: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
}

nav.active {
    display: flex;
    justify-content: flex-start;
    padding-left: 140px;
}

nav a {
    color: #032863;
}

nav a:hover {
    color: white;
    transition: 0.3s;
}

ul {
    gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    list-style-type: none;
    font-size: 1.6rem;
}

a {
    border: none;
    outline: none;
    text-decoration: none;
}

.hamburgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2.8rem;
    left: 3rem;
    width: 42px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 2000;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #032863;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburgerIcon.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(18.3px); /* Rotate and move up */
    background-color: #032863;
}

.hamburgerIcon.active .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

.hamburgerIcon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-18.3px); /* Rotate and move down */
    background-color: #032863;
}

/* Ocean container. */

.oceanContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Content Container (Text and Icon under the bubbles) */
.contentContainer {
    position: relative;
    bottom: 0;
    margin-top: 35vh;
    text-align: center;
    color: white;
}

    /* Header Style */
    .contentContainer h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

/* Paragraph Style */
.paragraphStyle {
    margin-bottom: 1rem;
}

/* Icon Styling */
.icons {
    width: 40px;
    height: 40px;
    margin: 20px 10px 10px 10px;
    cursor: pointer;
}

/* Work in progress warning */
#workInProgressWarning {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 10px;
}

@media (max-width: 767px) {
    .contentContainer {
        position: relative;
        bottom: 0;
        margin-top: 16vh;
        text-align: center;
        color: white;
    }

    nav {
        display: none;
        height: 92px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    nav.active {
        display: flex;
        justify-content: flex-start;
        padding-left: 70px;
    }

    ul {
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        list-style-type: none;
        font-size: 1.4rem;
    }

    .hamburgerIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 34px;
        height: 28px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 2000;
    }

    .hamburgerIcon.active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(16.8px); /* Rotate and move up */
        background-color: #032863;
    }

    .hamburgerIcon.active .bar:nth-child(2) {
        opacity: 0; /* Hide the middle bar */
    }

    .hamburgerIcon.active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-16.8px); /* Rotate and move down */
        background-color: #032863;
    }
}
